extends layout

block content
  h5= title
  p 
    | This data lineage viewer visualizes the data integrity and lineage information, based on the 
    a(href="http://fenglu.me/2018/04/16/Data-integrity-and-data-lineage-by-using-IOTA/#more") paper.
  
  p 
    | source code: 
    a(href="https://github.com/veracity/DataLineage-Viewer") https://github.com/veracity/DataLineage-Viewer
    |