extends layout

block content
  div(id="headerDiv")
    h1= title
    p(class="alert alert-primary" role="alert")
      | Please use Google chrome to load this application. We are working on the fix for IE and Firefox.
    p 
      | Please input the MAM address that contains the data lineage information. 
    p 
      | For example, see the data lineage 
      a(href="/?address=ZBHUHAJ9KL9ZGQTRKIPOEFGVEQIM9HXSWICCISKCIEGYCNHVRNPTKUFIWWGUHURW9MWZNZHQGFLVNYBDM&expandAll=true") diagram
      |  for the car accident insurance report from 
      a(href="http://fenglu.me/2018/04/16/Data-integrity-and-data-lineage-by-using-IOTA/") the paper
      |.
    
    div(class="form-inline")
      label(for="inputAddress", class="my-1 mr-2") Address:
        
      div(class="input-group")
        input(type="text", class="form-control", id="inputAddress", placeholder="")
        div(class="input-group-append")
          button(class="btn btn-outline-secondary", type="button", id="searchBtn")
            i(class="fas fa-search")
    p(style ="display:none" )
      input(type="checkbox", class="custom-control-input", checked, id="expandAllCheck")
      label(class="custom-control-label", for="expandAllCheck") Expand all input (upper stream) packages

    div(class="alert alert-warning", role="alert", id="loadingAlert", style="display: none;") Querying from server
      i(class="fas fa-sync-alt fa-spin")



  div(class="row")
    div(class="col-md-12 col-lg-6")
      svg(width="100%", id="mainGraphSvg")
    div(class="col-md-12 col-lg-6", id="pkgInfoContainerDiv")
  div(class="row", id="operationsExampleDiv", style="display: none;")
    div(class="col-md-12 col-lg-6" style="text-align: center")      