doctype html
html
  head
    title= title
    script(data-base="/javascripts/", data-main="cdn-load-fallback", src="/javascripts/fallback.min.js", type="application/javascript")
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    ul(class="nav nav-pills")
      li(class="nav-item")
        a(class="nav-link", href="/") Home
      li(class="nav-item dropdown")
        a(class="nav-link dropdown-toggle", href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Simulators
        div(class="dropdown-menu")
          a(class="dropdown-item", href="/simulate/publisher") Publish data integrity information
          a(class="dropdown-item", href="/simulate/processor") Publish data lineage information
      li(class="nav-item")
        a(class="nav-link", href="/about") About      
    div(class="container-fluid")
      block content