doctype html
html
  head
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-P9SPW53');
    title= title
    script(data-base="/javascripts/", data-main="cdn-load-fallback", src="/javascripts/fallback.min.js", type="application/javascript")
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    noscript.
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P9SPW53" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    ul(class="nav nav-pills")
      li(class="nav-item")
        a(class="nav-link", href="/") Home
      li(class="nav-item dropdown")
        a(class="nav-link dropdown-toggle", href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Simulators
        div(class="dropdown-menu")
          a(class="dropdown-item", href="/simulate/publisher") Publish data integrity information
          a(class="dropdown-item", href="/simulate/processor") Publish data lineage information
      li(class="nav-item")
        a(class="nav-link", href="/about") About     
      li(class="nav-item")
        a(class="nav-link", href="/swagger", target="_blank") API Swagger 
    div(class="container-fluid")
      block content