extends layout

block content
  h3 Publish data input(s)
  p Sometimes you received some data from your upper stream (inputs), processed them with some algorithm, and then publish the result dataset to your down stream. You can also publish data lineage information that shows this input/output relationship.
  p This function helps you to send this data lineage information to tangle with defined schema.
 
  div(id="simlate-processor-app")

  script(src="/javascripts/simulate-processor.js", type="application/javascript")